# Compilación de Java
*.class
bin/
out/
target/

# IntelliJ IDEA
.idea/
*.iml

# NetBeans
nbproject/private/
nbbuild/
dist/
.nb-gradle/

# Eclipse
.classpath
.project
.settings/

# Archivos del sistema
.DS_Store
Thumbs.db
